<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.wechat.mbg.mapper.ChatsPoMapper">
  <resultMap id="BaseResultMap" type="com.project.wechat.mbg.pojo.ChatsPo">
    <id column="chat_id" jdbcType="INTEGER" property="chatId" />
    <result column="chat_window_Id" jdbcType="INTEGER" property="chatWindowId" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    chat_id, chat_window_Id, info
  </sql>
  <select id="selectByExample" parameterType="com.project.wechat.mbg.pojo.ChatsPoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_chats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_chats
    where chat_id = #{chatId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_chats
    where chat_id = #{chatId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.project.wechat.mbg.pojo.ChatsPoExample">
    delete from t_chats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.project.wechat.mbg.pojo.ChatsPo">
    insert into t_chats (chat_id, chat_window_Id, info
      )
    values (#{chatId,jdbcType=INTEGER}, #{chatWindowId,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.wechat.mbg.pojo.ChatsPo">
    insert into t_chats
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chatId != null">
        chat_id,
      </if>
      <if test="chatWindowId != null">
        chat_window_Id,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chatId != null">
        #{chatId,jdbcType=INTEGER},
      </if>
      <if test="chatWindowId != null">
        #{chatWindowId,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.project.wechat.mbg.pojo.ChatsPoExample" resultType="java.lang.Long">
    select count(*) from t_chats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_chats
    <set>
      <if test="record.chatId != null">
        chat_id = #{record.chatId,jdbcType=INTEGER},
      </if>
      <if test="record.chatWindowId != null">
        chat_window_Id = #{record.chatWindowId,jdbcType=INTEGER},
      </if>
      <if test="record.info != null">
        info = #{record.info,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_chats
    set chat_id = #{record.chatId,jdbcType=INTEGER},
      chat_window_Id = #{record.chatWindowId,jdbcType=INTEGER},
      info = #{record.info,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.wechat.mbg.pojo.ChatsPo">
    update t_chats
    <set>
      <if test="chatWindowId != null">
        chat_window_Id = #{chatWindowId,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where chat_id = #{chatId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.wechat.mbg.pojo.ChatsPo">
    update t_chats
    set chat_window_Id = #{chatWindowId,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR}
    where chat_id = #{chatId,jdbcType=INTEGER}
  </update>
</mapper>