<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.wechat.dao.ThumbPoDao">
  <insert id="recordThumbUser">
      insert into  t_thumb (goods_id,user_id) values (#{goodsId},#{userId})
  </insert>
    <delete id="deleteThumbRecord">
        delete from t_thumb where user_id = #{userId} and goods_id = #{goodsId}
    </delete>
    <update id="addThumb">
        update t_user set user_praise = user_praise + 1 where user_id = #{userId}
    </update>
    <update id="reduceThumb">
        update t_user set user_praise = user_praise - 1 where user_id = #{userId}
    </update>
    <select id="isThumbGoods" resultType="integer">
        select id from t_thumb where user_id = #{userId} and goods_id = #{goodsId}
    </select>
    <select id="checkThumbExist" resultType="Integer">
        select id from t_thumb where goods_id = #{goodsId} and user_id = #{userId}
    </select>


</mapper>